@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row" style="margin-top: 20px">
    <form class="form-horizontal" asp-controller="Identity" asp-action="VerifyResult" method="post" data-bind="submit: onFormSubmit">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputID">身份证号</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="inputID" name="ID" data-bind="value: ID" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="inputFullName">姓名</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="inputFullName" name="FullName" data-bind="value: FullName" />
            </div>

        </div>
        <div class="form-group" data-bind="visible: HasCamera()">
            <label class="control-label col-sm-2">照片</label>
            <label class="col-sm-2">
                <input type="radio" name="imageType" value="upload" data-bind="checked: ImageType" />
                上传照片
            </label>
            <label class="col-sm-2">
                <input type="radio" name="imageType" value="snap" data-bind="checked:ImageType" />
                拍照
            </label>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2 col-xs-12" style="" data-bind="visible: ImageType() == 'snap'">

                <video id="video" class="col-sm-12 col-xs-12" autoplay></video>
                <div class="col-sm-12 col-xs-12">
                    <button data-bind="click: snap" class="btn btn-success btn-block">拍照</button>
                </div>


            </div>
            <div class="col-sm-4 col-sm-offset-2 col-xs-12" data-bind="visible: ImageType()=='upload'">
                <div class="col-sm-12 col-xs-12">
                    <button data-bind="click: uploadPortrait" class="btn btn-success btn-block">选择照片</button>
                </div>
                <input id="portraitFileElem" type="file" name="portraitImage" accept="image/*" style="display:none" data-bind="event:{change: fileUploaded}" />

            </div>
            <div class="col-sm-4 col-xs-12">
                <canvas id="canvas" width="320" height="240"></canvas>
            </div>

        </div>

        <input type="hidden" name="Portrait" id="portrait" data-bind="Portrait" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-4">
                <button class="btn btn-default btn-block" type="submit" data-bind="click: submitForm, disable:submitting, text:submitBtnText">提交</button>
            </div>
        </div>
    </form>

</div>


@section scripts {
    <script type="text/javascript" src="js/Identity.index.js"></script>
}